.login {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .form-container {
    min-width: 450px;
    padding: 24px;
  }

  .form-container .form-group,
  .form-container .form-group .form-field{
    width: 100%;
  }

  .container-buttons {
    text-align: end;
  }
  .container-buttons button {
    min-width: 120px;
    color: #2a3244;
  }
}
